{% extends "TavrosWebBundle::layout.html.twig" %}

{%block main_content %}
    <div class="container-fluid">
        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="alert team pager alert-success">
                    <img class="team-image" src="{{ asset('bundles/tavrosweb/images/team/gonzalo-cordoba.jpg') }}">
                    <h2>Gonzalo García Cordoba</h2>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="alert team pager alert-info">
                    <img class="team-image" src="{{ asset('bundles/tavrosweb/images/team/ignacio-abad.jpg') }}">
                    <h2>Ignacio J. Abad</h2>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="alert team pager alert-purple">
                    <img class="team-image" src="{{ asset('bundles/tavrosweb/images/team/lucas-sagaria.jpg') }}">
                    <h2>Lucas S. Sagaria</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-2">
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="alert team pager alert-warning">
                    <img class="team-image" src="{{ asset('bundles/tavrosweb/images/team/joaquin-ibar.jpg') }}">
                    <h2>Joaquín O. Ibar</h2>
                </div>
            </div>

            <div class="col-xs-12  col-md-4">
                <div class="alert team pager alert-danger">
                    <img class="team-image" src="{{ asset('bundles/tavrosweb/images/team/ivan-franco.png') }}">
                    <h2>Iván Franco</h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
            </div>
        </div>


        <div class="row">
            &nbsp;
        </div>
    </div> 


{%endblock%}