{% extends "TavrosWebBundle::layout.html.twig" %}

{%block main_content %}


    <div class="container-fluid">

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('tavros_administrator_center')}}" class="tilt">
                    <div class="alert alert-danger">
                        <h4>Mi Centro</h4>
                        <p>Información en tiempo real del centro y envío de alertas preventivas.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('generalinformation_edit', {'id':1})}}" class="tilt">
                    <div class="alert alert-success">
                        <h4>Información General</h4>
                        <p>Datos del centro de esquí, ubicación, horarios.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('slope_list')}}" class="tilt">
                    <div class="alert alert-info">
                        <h4>Pistas</h4>
                        <p>Gestión de las pistas del centro, edición, creación y eliminación.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('users_list')}}" class="tilt">
                    <div class="alert alert-danger">
                        <h4>Todos los usuarios</h4>
                        <p>Información adicional de los usuarios de la aplicación.</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('fos_user_registration_register')}}" class="tilt">
                    <div class="alert alert-success">
                        <h4>Nuevo usuario</h4>
                        <p>Cree un nuevo rescatista o adicione un administrador</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('slope_list')}}" class="tilt">
                    <div class="alert alert-info">
                        <h4>Notificaciónes</h4>
                        <p>Cree una nueva notificación predeterminada.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
    </div> <!-- /container -->
{%endblock%}