{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    {% if error %}

        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>

    {% endif %}

    <div class="container">
        <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="form-signin-heading">Panel de Administración</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input id="username" name="_username" type="text" 
                   class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                   required="required" autofocus="" value="{{ last_username }}">


            <input id="password" name="_password" type="password" 
                   class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                   required="requiered">

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> 
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <button id="_submit" name="_submit"
                    class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>

        </form>
    </div>
{% endblock content %}

{% block addJs %}
    <script src="{{asset('bundles/tavrosweb/js/sha1.js')}}" type="text/javascript"></script>
{% endblock addJs %}